.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rowTitle {
  min-width: 200px;
}

.rowSource {
  word-wrap: break-word;
}

.title {
  font-size: 300%;
  margin: 0;
}

.subtitle {
  margin: 0;
}

.warning {
  color: red;
  margin: 0;
}

.code {
  margin: 10px 0px;
  padding: 10px 0;
}

.video {
  width: 560px;
  height: 315px;
}

th {
  text-align: center;
}

td { 
  padding: 6px; 
  text-align: left;   
}

@media only screen and (max-width: 960px) {
  .video {
    width: 98%;
    height: 315px;
  }
  th {
    visibility: hidden;
  }
  td {
    display: block;
    text-align: center;
  }
  .rowVideo {
    width: 100%;
  }
  .rowSource {
    width: 100vw;
    text-align: center;
    word-wrap: break-word;
  }
  .rowDates {
    visibility: hidden;
    height: 0;
  }
}