html, body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.tbl-grid {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.tbl-grid * {
  margin: 0.1em;
  text-align: center;
}

.table-header, .date {
  visibility: hidden;
  display: none;
}
.video {
  width: 99vw;
  max-width: 760px;
  height: 50vh;
  max-height: 315px;
}

@media screen and (min-width: 1024px){
  .video {
    width: 560px;
    height: 315px;
  }

  .tbl-grid {
    padding: 2px;
    display: grid;
    grid-template-columns: auto 150px 100px 70px 100px auto auto;
    justify-content: space-between;
  }

  .table-header, .date {
    visibility: visible;
  }

  .table-header {
    font-weight: bold;
  }

  .rowSource {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
 
  .grid-item {
    display: inline-grid;
  }
}
